<script>
    document.querySelector(".toggle-setting .fa-user").onclick = function () {

        this.classList.toggle("fa-spin");
        document.querySelector(".setting-box").classList.toggle("open");
        document.querySelector(".exper").classList.toggle("open");
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<script src="/javascripts/main.js" type="javascript"></script>
</body>

</html>