<div class="setting-box">
  <div class="toggle-setting">
      <i class="fa fa-user setting-i"></i>
  </div>
  <div class="setting-container">
      <div class="option-box">
          <img src="#" alt="" class="img-thumbnail circle">
          <h4>Khalifa Alqiadi</h4>
          <hr>
          <ul class="list-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/skills">Skills</a></li>
              <li><a href="/qualification">Qualification</a></li>
              <li><a href="courses.html">Courses</a></li>
              <li><a href="/login">Courses</a></li>
          </ul>
      </div>
  </div>
</div>
