

<%- include('includes/head.ejs') %>
<!--  -->
<!-- end setting box -->
<%- include('includes/nav.ejs') %>
<h1 class="text-center my-3"> Forgot password</h1>
<div class="container d-flex justify-content-center">
    <div class="row col-sm-5">
        <div class="card p-5">
            <form action="/forgot-password" method="post">
                <div class="mb-3 row">
                    <label for="email" class="col-sm-3 col-form-label">email</label>
                    <div class="col-sm-9">
                        <input type="email" name="email" class="form-control" id="email"
                            placeholder="Enter email" required>
                    </div>
        
                </div>
                <div class="modal-footer">
                    <input type="submit" value="login" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>





<%- include('includes/footer.ejs') %>