<%- include('includes/head.ejs') %>
<!--  -->
<!-- end setting box -->
<%- include('includes/nav.ejs') %>
<h1 class="text-center"></h1>
<div class="container exper">
    <form action="/passwordPost" method="post">
        <div class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label">email</label>
            <div class="col-sm-9">
                <input type="email" name="email" class="form-control" id="email"
                    placeholder="Enter email" required>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="login" class="btn btn-primary">
        </div>
    </form>
</div>





<%- include('includes/footer.ejs') %>