<%- include('includes/head.ejs') %>
<!--  -->
<!-- end setting box -->
<%- include('includes/nav.ejs') %>
<h1 class="text-center my-3">Welcome</h1>
<div class="container d-flex justify-content-center">
    <div class="row col-sm-5">
        <div class="card p-5">
            <div class="card header border-0">
                <h1>Welcome</h1>
            </div>
            <div class="card body border-0">
                <p>Password reset link has been sent to ur email</p>
                <p><a href="<%= links %>" class="text-primary">Click here </a></p>
            </div>
        </div>
    </div>
</div>





<%- include('includes/footer.ejs') %>