<%- include('includes/head.ejs') %>
<!--  -->
<!-- end setting box -->
<%- include('includes/nav.ejs') %>
<h1 class="text-center"></h1>
<div class="container exper">
    <form action="/login" method="post">
        <div class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label">username</label>
            <div class="col-sm-9">
                <input type="email" name="email" class="form-control" id="username"
                    placeholder="Enter email" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-sm-3 col-form-label">password</label>
            <div class="col-sm-9">
                <input type="password" name="password" class="form-control" id="password"
                    placeholder="Enter password" required>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="login" class="btn btn-primary">
        </div>
    </form>
</div>





<%- include('includes/footer.ejs') %>